@using prj認真版嗎.ViewModel
@model List<C當月訂單統計>
@{
    Layout = null;
}
<link href="~/css/Jian統計.css" rel="stylesheet" />
<div class="d-flex">
    <div class="d-flex" style="width:700px;height:300px">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <div class="tab card">
        <table class="table t1">
            <thead>
                <tr class="tabtr">
                    <th style="width:140px;">
                        @Html.DisplayNameFor(model => model.First().訂單日期)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().訂單編號)
                    </th>
                    <th>
                        購買人數
                    </th>
                    <th style="text-align:right">
                        @Html.DisplayNameFor(model => model.First().金額)
                    </th>
                </tr>
            </thead>
            <tbody class="tbd">
                @{
                    decimal total = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.訂單日期)
                            </td>

                        </tr>
                        @foreach (var i in item.訂單明細)
                        {
                            <tr class="訂單tr">
                                <td></td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => i.OrderId)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => i.Quantity)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => i.UnitPrice)
                                </td>
                            </tr>
                        }

                        total += item.金額;
                    }
                }
                <tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right">
                        NT$@Convert.ToInt32(total).ToString("###,###")
                    </td>
                </tr>
            </tbody>
    </table>
</div>
        <div class="yo">
            <div class="罩包 上d">
                <div class="冠軍圖1">
                    <div>
                        <img src="~/images/champion.png" />
                    </div>
                </div>
                <div style="margin-top:35px">
                    <table class="上table">
                        <thead>
                            <tr class="th標題">
                                <th>
                                    產編
                                </th>
                                <th>
                                    產品名稱
                                </th>
                                <th>
                                    訂單量
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                @foreach (var i in Model[0].產編訂單量)
                                {
                                    <tr>
                                        <td>
                                            @i.產品編號最多
                                        </td>
                                        <td class="產品名稱">
                                            @i.產品名稱
                                        </td>
                                        <td>
                                            @i.產品編號最多訂單量
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="罩包">
                <div class="冠軍圖1">
                    <div>
                        <img src="~/images/earth-day.png" />
                    </div>
                </div>
                <div style="margin-top:35px">
                    <table class="上table">
                        <thead>
                            @{
                                <tr class="th標題2">
                                    <th>
                                        國家
                                    </th>
                                    <th>
                                        下單數
                                    </th>
                                </tr>

                            }
                        </thead>
                        <tbody>
                            @{
                                @foreach (var i in Model[0].國家訂單量)
                                {
                                    <tr>
                                        <td>
                                            @i.國家
                                        </td>
                                        <td>
                                            @i.訂單量
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="c" value="@ViewBag.M國家" />
    <input type="hidden" id="p" value="@ViewBag.M營業額" />

    <script>
        var x = document.querySelector("#c").value.split(",");
        var s = document.querySelector("#p").value.split(",");


        var bkc = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
        ];

        var bdc = [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ];

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: x,
                datasets: [{
                    label: "當月熱賣國家",
                    data: s,
                    backgroundColor: bkc,
                    borderColor: bdc,
                    borderWidth: 1
                }]
            },
            options: {
                "hover": {
                    "animationDuration": 0
                },
                "animation": {
                    "duration": 1,
                    "onComplete":function () {
                        console.log(this.chart)
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;
                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (pie, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, pie._model.x - 20, pie._model.y - 10);
                            });
                        });
                    }
                }
            },
        });


    </script>
