@using prj認真版嗎.ViewModel
@model List<C當月訂單統計>
@{
    Layout = null;
}
<link href="~/css/Jian統計.css" rel="stylesheet" />
<div class="d-flex">
    <div class="d-flex" style="width:700px;height:300px">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <div class="tab card">
        <table class="table">
            <thead>
                <tr class="tabtr">
                    <th style="width:150px;">
                        @Html.DisplayNameFor(model => model.First().訂單日期)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().產品編號)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().旅遊地區)
                    </th>
                    <th style="text-align:right">
                        @Html.DisplayNameFor(model => model.First().金額)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal total = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.訂單日期)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.產品編號)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.旅遊地區)
                            </td>
                            <td style="text-align:right">
                                @item.金額.ToString("###,###")
                            </td>
                        </tr>
                        total += item.金額;
                    }
                }
                <tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        NT$@Convert.ToInt32(total).ToString("###,###")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="yo">
        <div class="罩包">
            <div class="冠軍圖1">
                <img src="~/images/gold-medal.png" />
            </div>
            <table>
                <thead>
                    @{
                        <tr>

                            @foreach (var i in ViewBag.訂單量)
                            {
                            <th>
                               
                            </th>
                            }


                        </tr>
                    }
                </thead>
                <tbody>
                    @{

                        <tr>
                            <td>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card">

        </div>

    </div>
</div>
<input type="hidden" id="c" value="@ViewBag.M國家" />
<input type="hidden" id="p" value="@ViewBag.M營業額" />

<script>
    var x = document.querySelector("#c").value.split(",");
    var s = document.querySelector("#p").value.split(",");


    var bkc = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
    ];

    var bdc = [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
    ];

    var ctxx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctxx, {
        type: 'bar',
        data: {
            labels: x,
            datasets: [{
                label: "當月熱賣國家",
                data: s,
                backgroundColor: bkc,
                borderColor: bdc,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
