@using prj認真版嗎.ViewModel
@model List<C評論畫面>
@section Styles{
    <style>

    </style>
    <link href="~/css/JianComment.css" rel="stylesheet" />
}
<div class="d-flex justify-content-center">
    <h1>評價管理</h1>
</div>
<div class="big d-flex">
    <div class="左列">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small"
                   placeholder="搜尋" aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
        <div>
            <span class="btn">1星</span><span class="btn">2星</span>
        </div>
        <div id="List">
            <table id="myTable tbl">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="getdata(@item.CommentId)">
                            <td>
                                <input class="checkchild" type="checkbox" value="@item.CommentId" name="Orderkey">
                            </td>
                            <td>
                                (@item.MembersId)
                            </td>
                            <td>
                                @item.產品名稱 (@item.Star 星)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="評論內容">
            <div class="標題div">
                <h3 class="標題">評價內容 / 修改</h3>
            </div>
            <div id="comview">

            </div>
        </div>

        <div class="評論內容">
            <div class="標題div">
                <h3 class="標題">多筆處理</h3>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                留言編號
                            </th>
                            <th>
                                客戶姓名
                            </th>
                            <th>
                                留言時間
                            </th>
                            <th>
                                留言內容
                            </th>
                        </tr>
                    </thead>
                    <tbody id="coms">

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function getdata(id) {
            $("#comview").load("@Url.Content("~/Comment/Showcomment?id=")" + id)
        }
        function offs(id) {
            $("#comview").load("@Url.Content("~/Comment/offs?id=")" + id)
        }
        function opens(id) {
            $("#comview").load("@Url.Content("~/Comment/opens?id=")" + id)
        }

    </script>
}