
@section Styles{
    <style>
    </style>
    <link href="~/css/JianComment.css" rel="stylesheet" />
}
<div class="d-flex justify-content-center">
    <h1 class="標題1">評論管理</h1>
</div>
<form method="post">
    <div class="big d-flex">
        <div class="左列">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small"
                       placeholder="搜尋" aria-label="Search"
                       aria-describedby="basic-addon2" id="select1">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="select2">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
            <div>
                <input type="checkbox" class="checkall" name="check" id="group_checkbox" />
                <button id="" class="btn btn-primary" onclick="load()" type="button">全部</button>
                <button id="onestar" class="btn btn-danger" onclick="filter(1)" type="button">1星</button>
                <button id="twostar" class="btn btn-warning" onclick="filter(2)" type="button">2星</button>
                <button id="hidbtn" class="btn btn-secondary" onclick="filter(3)" type="button">已隱藏</button>
                <button id="Allhidbtn" class="btn btn-info" name="check" value="false" type="submit">一鍵隱藏</button>
            </div>
            <div id="List">
                <table id="myTable tbl">
                    <tbody id="左tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div>


            <div class="評論內容">
                <div class="標題div">
                    <h3 class="標題">評論明細</h3>
                </div>
                <div id="comview">

                </div>
            </div>

            <div class="評論內容 多筆DIV">
                <div class="標題div">
                    <h3 class="標題 標題附加">多筆處理</h3>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    留言編號
                                </th>
                                <th>
                                    客戶姓名
                                </th>
                                <th>
                                    目前狀態
                                </th>
                                <th>
                                    留言內容
                                </th>
                            </tr>
                        </thead>
                        <tbody id="coms">
                        </tbody>
                    </table>
                    <div id="多筆按鈕">
                        <button type="button" onclick="多筆處理(false)" class="btn btn-warning">多筆隱藏</button>
                        <button type="button" onclick="多筆處理(true)" class="btn btn-danger">多筆解除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        let t = 0;
        (function () {
            load();
        }())
        function load() {
            t = 0;
            $("#select1").val("");
            $("#左tbody").load("@Url.Content("~/Comment/goleft")")
        }
        function getdata(id) {
            $("#comview").load("@Url.Content("~/Comment/Showcomment?id=")" + id)
        }
       async function offs(id) {
           await $("#comview").load("@Url.Content("~/Comment/offs?id=")" + id);
            if(t == 1)
            filter(3)
        }
       async function opens(id) {
           await $("#comview").load("@Url.Content("~/Comment/opens?id=")" + id);
            if (t == 1)
            filter(3)
        };
        function filter(prt) {
            if (prt == 3)t = 1;
            else t = 0;
             $("#左tbody").load("@Url.Content("~/Comment/commentfilter")" + "?filter=" + prt)
        }

        let ww = [];
        const one = document.querySelector("#onestar");
        const two = document.querySelector("#twostar");
        const hidbtn = document.querySelector("#hidbtn");
        async function 多筆處理(e) {

            let jsn = { id: ww, bol: e };
            await $.ajax({
                url: "@Url.Content("~/Comment/treat")",
                type: "post",
                data: { bol:jsn},
                dataType: "json",
                success: function (datas) {
                    if (!datas.res) {
                        Swal.fire({
                            trxt:datas.msg,
                            title:'',
                            icon:'error',
                        })
                    }
                    Swal.fire(
                        datas.msg,
                        '',
                        'success',
                    )
                    ww = [];
                    var checked = document.querySelectorAll('input:checked');
                    checked.forEach(ele => ele.checked = "")
                    $(".右下row").remove();
                    document.getElementById("多筆按鈕").style.visibility = "hidden";
                }
             })
        }
        function 進入多選(id, e) {
            if (e.target.checked) {
              $.ajax({
                url: "@Url.Content("~/Comment/getdata")",
                type: "get",
                data: { "CommentId": id },
                dataType: "json"
              }).done(data => {
                  let 狀態 = "";
                  if (data.commentStatus)
                      狀態 = '正常顯示';
                  else
                      狀態 = '隱藏中';
                  let tr = document.createElement("tr");
                  tr.id = data.commentId
                  tr.className ="右下row";
                  let text = `<td>${data.commentId}</td>
                              <td>${data.會員名稱}</td>
                              <td>${狀態}</td>
                              <td>${data.commentText}</td>`
                  tr.innerHTML = text
                  $("#coms").append(tr);

              })
                ww.push(id);
                if (ww.length != 0)
                    document.getElementById("多筆按鈕").style.visibility = "visible";//顯示
            }
            else
            {
                $(`#${id}`).remove();
                ww.forEach(function (item, index, arr) {
                    if (item === id) {
                        arr.splice(index, 1);
                    }
                });
                if (ww.length == 0)
                    document.getElementById("多筆按鈕").style.visibility = "hidden";//隱藏
            }
        }




        $(".checkall").on('click', function () {
            var check = $(this).prop("checked");
            $(".checkchild").prop("checked", check);
        });

        $("#select2").on('click', function() {
            var pa = $("#select1").val();
                $("#左tbody").load("@Url.Content("~/Comment/commentfilte")" +"?keyword="+pa)
        })

        //$("#List").on("mouseenter mouseleave", function (event) { // 挷定滑鼠進入及離開事件
        //    if (event.type == "mouseenter") {
        //        $(this).css({ "overflow-y": "scroll" }); // 滑鼠進入
        //    } else {
        //        $(this).scrollTop(0).css({ "overflow-y": "hidden" }); // 滑鼠離開
        //});
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}