@using prj認真版嗎.ViewModel
@model List<COrderViewModel>
@section Styles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" />
    <link href="~/css/JianCutsomerList.css" rel="stylesheet" />
    <link href="~/css/jiancustomer.css" rel="stylesheet" />
}
<form method="post" action="~/Order/EditStatus">
    <div class="d-flex justify-content-center">
        <h1 class="標題">訂單管理</h1>
    </div>
    <div class="btn-group">
        <button id="全部" class="btn btn-primary " type="button">全部</button>
        <button id="處理中" class="btn btn-danger" type="button">處理中</button>
        <button id="訂單完成" class="btn btn-success" type="button">訂單完成</button>
        <button id="訂單取消" class="btn btn-dark" type="button">訂單取消</button>
        <button id="多筆處理訂單取消" class="btn btn-warning" type="submit">多筆處理訂單取消</button>
    </div>
    <div>
        <label>
            <span class="查詢日期範圍">查詢日期範圍:</span><input type="text" id="min" name="min" class="ran">
            <span id="蚯蚓">～</span><input type="text" id="max" name="max" class="ran">
            <input type="button" name="search" id="search" onclick="clearRange()" value="清除" class="btn btn-info" />
        </label>
    </div>
    <div class="justify-content-center dataTable">
        <table id="myTable" class="hover compact cell-border">
            <thead>
                <tr class="thbkc">
                    <th>
                        <label for="group_checkbox">複選框</label>
                        <input type="checkbox" class="checkall" id="group_checkbox" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MembersId)/@Html.DisplayNameFor(model => model.First().會員名稱)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().OrderStatusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().PaymentId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    DateTime s = DateTime.Parse(item.OrderDate);
                    <tr class="trtd">
                        <td>
                            <input class="checkchild" type="checkbox" value="@item.OrderId" name="Orderkey">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembersId) .
                            @Html.DisplayFor(modelItem => item.會員名稱)
                        </td>
                        <td>
                            @s.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.訂單狀態)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.付款方式)
                        </td>
                        <td>
                            <a class="btn 檢視按鈕 附加事件" onclick="showmodal('@Url.Action("OrderDetail","Order",new {id=@item.OrderId},Context.Request.Scheme)',null)"><i class="fa fa-list" aria-hidden="true"></i>檢視明細</a>
                            <a class="btn 修改按鈕 附加事件" onclick="showmodal('@Url.Action("Edit","Order",new {id=@item.OrderId},Context.Request.Scheme)',null)"><i class=" fas fa-fw fa-wrench"></i>修改</a>
                            @if (item.訂單狀態 == "處理中")
                            {
                                <a class="btn btn-danger 處理按鈕 附加事件" onclick="showmod('@Url.Action("showreply","Order",new {id=@item.OrderId},Context.Request.Scheme)',null)"><i class="bi bi-envelope-exclamation-fill"></i>訂單處理</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
<!--檢視光箱-->
<div id="newstaticBackdrop" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="newstaticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:1000px">
            <div id="_modalDialog_body" class="modal-body">
                <div id="selectTree" class="ztree" style="height:300px;overflow:auto; ">

                </div>
            </div>
        </div>
    </div>
</div>
<!--檢視光箱-->
<!--反應光箱-->
<div class="modal fade" id="newstatic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<!--反應光箱-->
@section Scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="~/js/JS.js"></script>

    <script>
        var minDate, maxDate;

        $(document).ready(async function () {
            $('#myTable').DataTable({
                "language": {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "deleteTitle": "刪除過濾條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "title": "過濾條件 - %d",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "關鍵字查詢",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆",
                    "search": "搜尋：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ","
                },
                "lengthMenu": [10, 20, 30, 100],
                "processing": true,
                "stateSave": true,
                "destroy": true,
                "info": true,
                "scrollCollapse": true,
                "serverSide": false,
                "autoWidth": true,
                "columnDefs": [{ "orderable": false, "targets": [0] }],
            });
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = minDate.val();
                    var max = maxDate.val();
                    var date = new Date(data[3]);

                    if (
                        (min === null && max === null) ||
                        (min === null && date <= max) ||
                        (min <= date && max === null) ||
                        (min <= date && date <= max)
                    ) {
                        return true;
                    }
                    return false;
                }
            );
            $(document).ready(function () {
                minDate = new DateTime($('#min'), {
                    format: 'yyyy-MM-DD'
                });

                maxDate = new DateTime($('#max'), {
                    format: 'yyyy-MM-DD'
                });

                var table = $('#myTable').DataTable();

                $('#min, #max').on('change', function () {
                    table.draw();
                });

            });
        });


        $(function () {
            $('#全部').on('click', function () {
                $('.dataTables_filter [type=search]').val("").keyup();
            });
            $('#處理中').on('click', function () {
                $('.dataTables_filter [type=search]').val("處理中").keyup();
            });
            $('#訂單完成').on('click', function () {
                $('.dataTables_filter [type=search]').val("訂單完成").keyup();
            });
            $('#訂單取消').on('click', function () {
                $('.dataTables_filter [type=search]').val("訂單取消").keyup();
            });
        })

        $(".checkall").on('click', function () {
            var check = $(this).prop("checked");
            $(".checkchild").prop("checked", check);
        });

        $("#myTable tbody tr td:nth-child(-n+6)").on("click", function () {
            var check = $(this).closest("tr").find(".checkchild").prop("checked");
            if (check == true) {
                $(this).closest("tr").find('.checkchild').prop("checked", false);
            } else {
                $(this).closest("tr").find('.checkchild').prop("checked", true);
            }
        });

        function clearRange() {
            var table = $('#myTable').DataTable();

            $("#min").val("");
            $("#max").val("");
            minDate = new DateTime($('#min'), { format: 'yyyy-MM-DD' });
            maxDate = new DateTime($('#max'), { format: 'yyyy-MM-DD' });

            table.draw();
        }
    </script>
}
