@model List<COrederDetailsViewModel>
@using prj認真版嗎.ViewModel
<link href="~/css/JianOrderList.css" rel="stylesheet" />
@{
    Layout = null;

}
<div>
    <table class="table">
        <thead>
            <tr class="thbkc">
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().產品名稱)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UnitPrice)
                </th>
                <th style="padding-left: 0">
                    小計
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                decimal 總金額 = 0;
                decimal 總小計 = 0;
                string 優惠內容 = "";
                string 優惠券名稱 = "";
                var 折扣 = Model.Select(p => p.優惠內容).FirstOrDefault();

                foreach (var item in Model)
                {
                    count++;

                    總小計 += item.小計;

                    <tr class="trtd">
                        <td>
                            @count .
                        </td>
                        <td class="產品值">
                            @Html.DisplayFor(modelItem => item.產品名稱)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @item.UnitPrice.ToString("###,##0")
                        </td>
                        <td style="padding-left: 0">
                            @item.小計.ToString("###,#0")
                        </td>
                    </tr>
                    
                        if (item.隨行人員 != null)
                        {
                            <tr>
                                <td></td>
                                <td colspan="4">
                                    @foreach (var i in item.隨行人員)
                                    {
                                        <p>@i.姓名</p>
                                        <p>@i.電話</p>
                                    }
                                </td>
                            </tr>
                        }
                    
                }

                if (折扣 > 1 && 折扣 != null)
                {
                    優惠券名稱 = Model.Select(p => p.優惠券名稱).FirstOrDefault();
                    優惠內容 = "折抵金額:" + (int)折扣;
                }
                else if (折扣 < 1 && 折扣 != null)
                {
                    優惠券名稱 = Model.Select(p => p.優惠券名稱).FirstOrDefault();
                    優惠內容 = ((int)折扣 * 10).ToString("###,###") + "折";
                }
                else if (折扣 == null)
                {
                    優惠內容 = "無使用優惠券";
                    優惠券名稱 = "";
                    折扣 = 0;
                }
                //稅金 = 總小計 * 0.05M;
                總金額 = 總小計;
                總金額 -= (int)折扣;
                折扣 = (int)折扣;
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="金額顯示" style="text-align:end;padding-right:0">
                    <p>優惠名稱:&ensp;</p>
                    <p>小計金額:$</p>
                    <p>折&ensp;&ensp;&ensp;&ensp;抵:$</p>
                    <p>總&ensp;金&ensp;額:$</p>
                </td>
                <td class="金額顯示" style="padding-left: 0">
                    <p>@優惠券名稱&ensp;@優惠內容</p>
                    <p>@總小計.ToString("###,###,##0")</p>
                    <p>@折扣</p>
                    <p>@總金額.ToString("###,###,##0")</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="理由" class="justify-content-center">
    @if (ViewBag.CCid != null)
    {
    <div>取消理由: @ViewBag.取消理由</div>
    <div>詳細說明: @ViewBag.詳細說明</div>
    }
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="right:0">關閉</button>
</div>
