@using prj認真版嗎.ViewModel
@model List<C年份營業額統計>
@{
    Layout = null;
}

    <div class="d-flex justify-content-center container">
        <div>
            <h1>2022年營業額</h1>
        </div>
        <div>
            <h1>@ViewBag.今年營業總額</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center container" style="width:700px;height:300px">
        <canvas id="myChart" width="100" height="100"></canvas>
        <canvas id="myChartO" width="100" height="100"></canvas>
    </div>



<input type="hidden" id="c" value="@ViewBag.國家" />
<input type="hidden" id="p" value="@ViewBag.營業額" />
<input type="hidden" id="g" value="@ViewBag.性別" />
<input type="hidden" id="gp" value="@ViewBag.性別比例" />
<input type="hidden" id="gg" value="@ViewBag.消費比數" />


<script>

    var count = document.querySelector("#c").value.split(",").length - 1
    var c = document.querySelector("#c").value.split(",");
    var p = document.querySelector("#p").value.split(",");
    var color = "";
    (function () {
        go();
    }());

    function go() {
        for (var i = 0; i <= count - 1; i++) {

            color += '#' + Math.floor(Math.random() * 16777215).toString(16) + ',';
        }
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: c,
            datasets: [{
                label: "今年熱賣國家",
                data: p,
                backgroundColor: color.split(","),
            }]
        },
        options: {
            "hover": {
                "animationDuration": 0
            },
            "animation": {
                "duration": 1,
                "onComplete": function () {
                    console.log(this.chart)
                    var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (pie, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, pie._model.x -20, pie._model.y - 10);
                        });
                    });
                }
            }
        },
    });




    var ctxO = document.getElementById('myChartO').getContext('2d');

    var g = document.querySelector("#g").value.split(",");
    var gp = document.querySelector("#gp").value.split(",");
    var gg = document.querySelector("#gg").value.split(",");

    var data = {
        labels: g,
        datasets: [{
            label: 'My First dataset',
            data: gg,
            backgroundColor: [
                'rgb(255, 99, 132,0.3)',
                'rgb(54, 162, 235,0.3)',
            ],
            hoverOffset: 4
        }]
    };

    var myChart = new Chart(ctxO, {
        labels:gg,
        type: 'pie',
        data: data,
        options: {
        },
    });

</script>