@model prj認真版嗎.ViewModel.CCreateTravelProductViewModel

@{ ViewData["Title"] = "建立行程資訊"; }

<h1>建立行程資訊作業</h1>
<div style="position: fixed; right: 700px; top:300px">
    <button class="btn btn-dark" id="demo">嗲某鍵</button>
</div>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TravelProductName" class="control-label"></label>
                <input asp-for="TravelProductName" class="form-control" />
                <span asp-validation-for="TravelProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelProductTypeId" class="control-label"></label>
                <select asp-for="TravelProductTypeId" class="form-select">
                    <option value="-1">請選擇行程分類</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stocks" class="control-label"></label>
                <input asp-for="Stocks" class="form-control" />
                <span asp-validation-for="Stocks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" cols="50" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-select">
                    <option value="-1">請選擇行程所在國家</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventIntroduction" class="control-label"></label>
                <textarea asp-for="EventIntroduction" class="form-control" cols="50" rows="5"></textarea>
                <span asp-validation-for="EventIntroduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationDescription" class="control-label"></label>
                <textarea asp-for="PreparationDescription" class="form-control" cols="50" rows="5"></textarea>
                <span asp-validation-for="PreparationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapUrl" class="control-label"></label>
                <input asp-for="MapUrl" class="form-control" />
                <span asp-validation-for="MapUrl" class="text-danger"></span>
            </div>

            =========新增旅遊產品介紹照片=========
            <div id="pic_group">
                <div class="form-group">
                    <label class="control-label">旅遊產品介紹照片</label>
                    <p>Tips:按住ctrl可進行多筆上傳</p>
                    <input type="file" name="photo" multiple />
                </div>
                <div class="form-group">
                    <label asp-for="TravelPictureText" class="control-label"></label>
                    <input asp-for="TravelPictureText" class="form-control" />
                    <span asp-validation-for="TravelPictureText" class="text-danger"></span>
                </div>
            </div>
            ===========新增每日行程明細===========

            <div class="form-group">
                <label asp-for="_TravelProductDetail[0].Day" class="control-label"></label>
                <input asp-for="_TravelProductDetail[0].Day" class="form-control" value="1" readonly="readonly" />
                <span asp-validation-for="_TravelProductDetail[0].Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_TravelProductDetail[0].HotelId" class="control-label"></label>
                <select asp-for="_TravelProductDetail[0].HotelId" id="TravelProductDetail_HotelID" class="form-select">
                    <option value="-1">請選擇下榻飯店</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="_TravelProductDetail[0].Date" class="control-label"></label>
                <input type="date" asp-for="_TravelProductDetail[0].Date" class="form-control" />
                <span asp-validation-for="_TravelProductDetail[0].Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_TravelProductDetail[0].DailyDetailText" class="control-label"></label>
                <textarea asp-for="_TravelProductDetail[0].DailyDetailText" class="form-control" cols="50" rows="8"></textarea>
                <span asp-validation-for="_TravelProductDetail[0].DailyDetailText" class="text-danger"></span>
            </div>
            ===========新增交通方式===========
            <fieldset>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="1" id="railway">
                    <label class="form-check-label" for="railway">鐵路</label><br>

                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="2" id="airplane">
                    <label class="form-check-label" for="airplane">飛機</label><br>

                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="3" id="bus" />
                    <label class="form-check-label" for="bus">巴士</label>

                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="4" id="ship" />
                    <label class="form-check-label" for="ship">遊輪</label>

                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="5" id="motor" />
                    <label class="form-check-label" for="motor">機車</label>

                    <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="6" id="bike" />
                    <label class="form-check-label" for="bike">腳踏車</label>
                </div>
            </fieldset>
            ===========選擇行程景點===========
            <div class="form-group">
                <label name="_TravelProductDetail[0].ViewID" class="control-label">選擇行程景點</label>
                <select name="_TravelProductDetail[0].ViewID" class="form-select" id="_ViewV">
                    <option value="-1">請選擇行程景點</option>
                </select>
            </div>

            <div id="createExistView1">
            </div>
            <div>
                <button type="button" onclick="removeExistViewFunc(1)">－選擇景點</button>
                <button type="button" onclick="createExistViewFunc(1)">＋選擇景點</button>
            </div>
            <div id="createNewView1">
            </div>
            <div>
                <button type="button" onclick="removeNewViewFunc(1)">－自訂景點</button>
                <button type="button" onclick="createNewViewFunc(1)">＋自訂景點</button>
            </div>
            ===========新增行程明細===========
            <div id="createNewTravelDetail">

            </div>
            <div>
                <button type="button" onclick="removeNewTravelDetaiFunc()">－行程明細</button>
                <button type="button" onclick="createNewTravelDetaiFunc()">＋行程明細</button>
            </div>
           
            <div class="form-group" style="margin-top:70px">
                <input type="submit" value="建立新行程" class="btn btn-primary" />
            </div>
        </form>


        
    </div>
</div>

<div>
    <a asp-action="list">回到產品一覽表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    //DEMO用
    $('#demo').on("click", function () {
        $('#TravelProductName').val("綠島｜半農半漁深度文化生態三日遊");
        $('#Price').val(6499);
        $('#TravelProductTypeId').get(0).selectedIndex = 2;
        $('#Stocks').val(30);
        let temp = `自繁忙的工作與城市中跳脫，加入一趟3天的深度冒險旅遊#
費用包含台東-綠島來回船票，入住星月屋渡假山莊兩晚（或同級）#
從農、漁業文化反映綠島不同年代的轉變，並透過飲食認識綠島的傳統，原來早期島上可是主農副漁的生活#
半農：因地質、土壤之關係，綠島旱作採番薯和花生輪種，來綠島踩田，體驗一日小農夫，並親手製作在地經典口味的花生糖！#
半漁：鰹竿釣文化已沒落，只能用影片回顧海上的英勇，體驗從挑刺、烘烤、補漿、再次烘烤到成品，一步一步認識得來不易的奢華柴魚#
浮潛探索七彩繽紛海底世界、參與夜間生態觀察，從不同角度觀察多面的綠島`;
        $('#Description').val(temp);
        $('#CountryId').get(0).selectedIndex = 1;
        $('#Cost').val(1500);
        temp =`體驗傳統的鰹於工序工法，接著烘烤、補漿、再次烘烤到柴魚成品完成#
DIY親手將鰹魚烘乾炮製成美味可口的柴魚片，用奢侈的方式品嘗頂級柴魚滋味#
學習怎麼熏製柴魚、花生田裡踩田製作花生糖、悠遊大海，來趟3天2夜體會綠島深度冒險之旅吧！`
        $('#EventIntroduction').val(temp);
        temp =`容易暈眩者，強烈建議在活動前1小時服用暈眩藥#
供應商提供高品質安全設備，且由經驗豐富的教練陪同指導，參加者不需具備游泳技能也能享有愉快、安全的體驗#
雖非強制，仍建議於參加活動前自行購買意外／旅遊險`
        $('#PreparationDescription').val(temp);
        temp = `https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7363.943916330125!2d121.49917821924109!3d22.65483411579356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346f8df289f9d775%3A0x7590b56495b478ed!2zT0ggR09PRCDntqDls7bmsJHlrr8!5e0!3m2!1szh-TW!2stw!4v1666845107824!5m2!1szh-TW!2stw`;
        $('#MapUrl').val(temp);
        $('#TravelPictureText').val("綠島圖片介紹集");
        $('#TravelProductDetail_HotelID').get(0).selectedIndex = 9;        
        $('#zTravelProductDetail_0__Date').val("2022-10-27");
        temp =`第1天#
時間：#
11:00 - 19:00#
總時長：8小時0分鐘#
11:00 集合地點｜富岡候船室#
11:30 乘風破浪｜前進綠島#
12:30 抵達綠島｜南寮港口#
13:30 享用午餐｜慢食綠島（自理）#
14:30 自由活動｜環島解密趣（自理）#
17:00 享用晚餐｜慢食綠島（自理）#
19:00 世界特有海底溫泉｜朝日溫泉（自費）`
        $('#zTravelProductDetail_0__DailyDetailText').val(temp);        
        $('#View_CityId0').get(0).selectedIndex = 16;
        $('#ViewName0').val("綠島觀景步道");
        $('#TravelProductDetail_HotelIDH2').get(0).selectedIndex = 10;
        $('#_TravelProductDetail_Date1').val("2022-10-28");
        temp =`第2天#
時間：#
08:00 - 20:00#
總時長：12小時0分鐘#
08:00 享用早餐｜民宿#
​10:00 海洋生態｜浮潛體驗#
12:30 享用午餐｜慢食綠島（自理）#
15:00 頂級柴魚發源地｜煙仔魚手作體驗#
17:00 享用晚餐（自理）#
19:00 派對動物｜夜間生態觀察（時間依民宿公告為主）#
20:00 返回民宿｜明天見`
        $('#_TravelProductDetail_DailyDetailText1').val(temp);
        $('#View_CityId1').get(0).selectedIndex = 16;
        $('#ViewName1').val("綠島紫坪");
        $('#View_CityId2').get(0).selectedIndex = 16;
        $('#ViewName2').val("綠島紫坪生態保育區");
        $('#_TravelProductDetail_Date2').val("2022-10-29");
        temp =`第3天#
時間：#
08:00 - 13:30#
總時長：5小時30分鐘#
08:00 享用早餐｜民宿#
09:00 農事體驗｜花生什麼事#
11:00 享用午餐（自理）#
12:30 乘風破浪｜返回台東（依當日航班時間）#
13:30 抵達台東｜富岡候船室`
        $('#_TravelProductDetail_DailyDetailText2').val(temp);
        $('#View_CityId3').get(0).selectedIndex = 16;
        $('#ViewName3').val("綠島朝日溫泉");
        $('#View_CityId4').get(0).selectedIndex = 16;
        $('#ViewName4').val("綠島藍洞");
    })


    //新增、減少行程明細
    let detail_num = 2;
    let CCTPVM_Count = 0; //給CCreateTravelProductViewModel存資料用的Count
    const createNewTravelDetailNode = document.querySelector("#createNewTravelDetail");
    function createNewTravelDetaiFunc()
    {
        _CreateViewCount = 0
        CCTPVM_Count++;
        if (detail_num < 6) {
            let p = document.createElement("div")
            
            const temp =
                `<div class="form-group">` +
                `<label for="Day" class="control-label">行程第${detail_num}天</label>` +
                `<input id="Day" name="_TravelProductDetail[${CCTPVM_Count}].Day" class="form-control" value="${detail_num}" readonly="readonly"/>` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="TravelProductDetail_HotelIDH${detail_num}" class="control-label">住宿地點</label>` +
                `<select id="TravelProductDetail_HotelIDH${detail_num}" name="_TravelProductDetail[${CCTPVM_Count}].HotelId" class="form-select">` +
                `<option value="-1">請選擇下榻飯店</option>` +
                ` </select>` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="Date" class="control-label">日期</label>` +
                `<input type="date" id="_TravelProductDetail_Date${CCTPVM_Count}" name="_TravelProductDetail[${CCTPVM_Count}].Date" class="form-control" />` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="DailyDetailText" class="control-label">每日行程概述</label>` +
                `<textarea id="_TravelProductDetail_DailyDetailText${CCTPVM_Count}" name="_TravelProductDetail[${CCTPVM_Count}].DailyDetailText" class="form-control" cols="50" rows="8"></textarea>` +
                `</div>` +
                `=========== 新增交通方式 ===========` +
                `<fieldset>`+
                `<div class="form-check form-check-inline">` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="1" id="railway${CCTPVM_Count}">` +
                `<label class="form-check-label" for="railway${CCTPVM_Count}">鐵路</label><br>` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="2" id="airplane${CCTPVM_Count}">` +
                `<label class="form-check-label" for="airplane${CCTPVM_Count}">飛機</label><br>` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="3" id="bus${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="bus${CCTPVM_Count}">巴士</label>` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="4" id="ship${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="ship${CCTPVM_Count}">遊輪</label>` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="5" id="motor${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="motor${CCTPVM_Count}">機車</label>` +
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="6" id="bike${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="bike${CCTPVM_Count}">腳踏車</label>` +
                `</div>` +
                `</fieldset>`+
                `=========== 選擇行程景點 ===========` +
                `<div class="form-group">` +
                `<label for="_ViewV${detail_num}" class="control-label">選擇行程景點</label>` +
                `<select id="_ViewV${detail_num}" name="_TravelProductDetail[${CCTPVM_Count}].ViewID" class="form-select">` +
                `<option value="-1">請選擇行程景點</option>` +
                `</select>` +
                `</div>` +
                `<div id="createExistViewE${detail_num}">` +
                `</div>` +
                `<div>` +
                `<button type="button" onclick="removeExistViewFunc('E${detail_num}')">－選擇景點</button>` +
                `<button type="button" onclick="createExistViewFunc('E${detail_num}')">＋選擇景點</button>` +
                `</div>` +
                `<div id="createNewViewV${detail_num}">` +
                `</div>` +
                `<div>` +
                `<button type="button" onclick="removeNewViewFunc('V${detail_num}')">－自訂景點</button>` +
                `<button type="button" onclick="createNewViewFunc('V${detail_num}')">＋自訂景點</button>` +
                `</div>` +
                `==================================`;
            p.innerHTML += temp;
            createNewTravelDetailNode.appendChild(p);
            LoadViewName(`V${detail_num}`);
            LoadHotelName(`H${detail_num}`);
            detail_num++;
        }
        else
        {
            detail_num = 6;
            CCTPVM_Count=4;
        }


    };
    function removeNewTravelDetaiFunc() {
        if (detail_num > 2) {
            $(`#createNewTravelDetail`).children().last().remove();
            detail_num--;
            CCTPVM_Count--;
        }
        else
        {
            detail_num = 2;
            CCTPVM_Count=0;
        }

    }
    //新增、減少景點(既有資料)
    let view_exist_num = 0;
    function createExistViewFunc(id) {
        const createExistViewNode = document.querySelector(`#createExistView${id}`);
        let p = document.createElement("div")
        const temp =
            `<div class="form-group">` +
            `<label for="_ViewE${view_exist_num}" class="control-label">景點</label>` +
            `<select name="_TravelProductDetail[${CCTPVM_Count}].ViewID" id="_ViewE${view_exist_num}" class="form-select">` +
            ` <option value="-1">請選擇行程景點</option>` +
            `</select>` +
            `</div>`;

        p.innerHTML += temp;
        createExistViewNode.appendChild(p);
        LoadViewName(`E${view_exist_num}`);
        view_exist_num++;

    }
    function removeExistViewFunc(id) {
        $(`#createExistView${id}`).children().last().remove();

    }
    //新增、減少景點(自訂欄位)
    let view_num = 0;
    let _CreateViewCount = 0;
    function createNewViewFunc(id)
    {
        const createNewViewNode = document.querySelector(`#createNewView${id}`);
            let p = document.createElement("div")
            //const temp =
            //    `<div class="form-group">` +
            //    `<label for="View_CityId${view_num}" class="control-label">城市</label>` +
            //    `<select name="_TravelProductDetail[${CCTPVM_Count}].CreateViewCityID" id="View_CityId${view_num}" class="form-select">` +
            //    ` <option value="-1">請選擇景點所在城市</option>` +
            //    `</select>` +
            //    `<label for="ViewName${view_num}">請輸入景點名字</label>` +
            //    `<input type="text" name="_TravelProductDetail[${CCTPVM_Count}].CreateViewName" id="ViewName${view_num}" />`+
            //    `</div>`;
        const temp =
            `<div class="form-group">` +
            `<label for="View_CityId${view_num}" class="control-label">城市</label>` +
            `<select name="_TravelProductDetail[${CCTPVM_Count}]._CreateView[${_CreateViewCount}].CreateViewCityID" id="View_CityId${view_num}" class="form-select">` +
            ` <option value="-1">請選擇景點所在城市</option>` +
            `</select>` +
            `<label for="ViewName${view_num}">請輸入景點名字</label>` +
            `<input type="text" name="_TravelProductDetail[${CCTPVM_Count}]._CreateView[${_CreateViewCount}].CreateViewName" id="ViewName${view_num}" />` +
            `</div>`;
            p.innerHTML += temp;
            createNewViewNode.appendChild(p);
            LoadCityName();
            view_num++;
            _CreateViewCount++;

    }
    function removeNewViewFunc(id) {
        $(`#createNewView${id}`).children().last().remove();
        if (_CreateViewCount > 0)
            _CreateViewCount--;
        else
            _CreateViewCount = 0;        
    }

    //新增、減少交通方式
    let transportation_num = 0;

    function createNewTransportationFunc(id) {
        const createNewTransportationNode = document.querySelector(`#createNewTransportation${id}`);

            let p = document.createElement("div")
            const temp =
                `<div class="form-group">` +
                `<label for="Trasportation_TrasportationID${transportation_num}" class="control-label">交通</label>` +
                `<select name="_TravelProductDetail[0].TrasportationID" id="Trasportation_TrasportationID${transportation_num}" class="form-select">` +
                ` <option value="-1">新增每日行程交通方式</option>` +
                `</select>` +
                `</div>`;

            p.innerHTML += temp;
            createNewTransportationNode.appendChild(p);
            LoadTrasportationName(transportation_num);
            transportation_num++;

    }
    function removeNewTransportationFunc(id) {
            $(`#createNewTransportation${id}`).children().last().remove();
    }
    //抓資料庫旅遊型態的資料
    async function LoadTravelProductType() {
        let selTravelProductType = document.querySelector("#TravelProductTypeId")
        let response = await fetch("@Url.Content("~/Product/LoadTravelProductType_ReturnJson")")
        let datas = await response.json()
        datas.forEach(TravelProductType => {
            const opt = new Option(TravelProductType['travelProductTypeName'], TravelProductType['travelProductTypeId'])
            selTravelProductType.options.add(opt)
        })
    }
    //抓資料庫國家的名字
    async function LoadCountryName() {
        let selCountryName = document.querySelector("#CountryId")
        let response = await fetch("@Url.Content("~/Product/LoadCountryName_ReturnJson")")
        let datas = await response.json()
        datas.forEach(Country => {
            const opt = new Option(Country['countryName'], Country['countryId'])
            selCountryName.options.add(opt)
        })
    }
    //抓資料庫城市的名字
    async function LoadCityName() {
        let selCityName = document.querySelector(`#View_CityId${view_num}`)
        let response = await fetch("@Url.Content("~/Product/LoadCityName_ReturnJson")")
        let datas = await response.json()
        datas.forEach(City => {
            const opt = new Option(City['cityName'], City['cityId'])
            selCityName.options.add(opt)
        })
    }

    //抓資料庫旅館的名字
        async function LoadHotelName(id) {
            let selHotelName = document.querySelector(`#TravelProductDetail_HotelID${id}`)
        let response = await fetch("@Url.Content("~/Product/LoadHotelName_ReturnJson")")
        let datas = await response.json()
            datas.forEach(Hotel => {
                const opt = new Option(Hotel['hotelName'], Hotel['hotelId'])
                selHotelName.options.add(opt)
        })
    }
    //抓資料庫景點的名字
        async function LoadViewName(id) {
            let selViewName = document.querySelector(`#_View${id}`)
        let response = await fetch("@Url.Content("~/Product/LoadViewName_ReturnJson")")
        let datas = await response.json()
            datas.forEach(View => {
                const opt = new Option(View['viewName'], View['viewId'])
                selViewName.options.add(opt)
        })
    }
    //抓資料庫交通的方式
    @*async function LoadTrasportationName(id) {
        let selTrasportationName = document.querySelector(`#Trasportation_TrasportationID${id}`)
        let response = await fetch("@Url.Content("~/Product/LoadTrasportationName_ReturnJson")")
        let datas = await response.json()
        datas.forEach(Trasportation => {
            const opt = new Option(Trasportation['trasportationName'], Trasportation['trasportationId'])
                selTrasportationName.options.add(opt)
        })
    }*@


    LoadTravelProductType();
    LoadCountryName();
    LoadHotelName("");
    LoadViewName("V");

</script>


}
