
@model prj認真版嗎.ViewModel.CProductViewModel

@{
    ViewData["Title"] = "商品編輯";  
}
@section Styles{
    <link href="~/css/Product_Create_Edit.css" rel="stylesheet" />
}

<div class="prod_menu">
    <div class="list-group">
        <button class="list-group-item list-group-item-action list-group-item-dark" id="demo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" />
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            </svg>　嗲某鍵
        </button>
        <button class="list-group-item list-group-item-action list-group-item-info" onclick="editBtn()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            </svg>　修改行程
        </button>
        <button class="list-group-item list-group-item-action" id="jq-goTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>　回到最上方
        </button>
        <a asp-action="list" class="list-group-item list-group-item-action list-group-item-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z" />
            </svg>　回到行程一覽表
        </a>
    </div>
</div>

<section class="ProductSection">
    <div class="ProductSectionTitle">
        <h1>修改行程資訊作業</h1>
        <hr />
    </div>

    <div class="CreateProductForm">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div class="row">
                <div class="d-flex prod_basic">
                    <div class="d-flex row col-6">
                        <div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="TravelProductId" value="@Model.TravelProductId" />

                            <div class="form-group">
                                <label asp-for="@Model.TravelProductName" class="control-label"></label>
                                <input asp-for="@Model.TravelProductName" class="form-control" />
                                <span asp-validation-for="@Model.TravelProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TravelProductTypeName" class="control-label"></label>
                                <input asp-for="TravelProductTypeName" class="form-control" />
                                <span asp-validation-for="TravelProductTypeName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Price" class="form-control" type="number" value='@Model.Price.ToString("0")'>
                                    <span class="input-group-text">元</span>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Quantity" class="form-control" />
                                    <span class="input-group-text">人</span>
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stocks" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Stocks" class="form-control" />
                                    <span class="input-group-text">人</span>
                                    <span asp-validation-for="Stocks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CountryName" class="control-label"></label>
                                <input asp-for="CountryName" class="form-control" />
                                <span asp-validation-for="CountryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cost" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="Cost" class="form-control" />
                                    <span class="input-group-text">元</span>
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">出團日期</label>
                                <input value="@Model._CTravelDetailForEditViewModel[0]._TravelProductDetail.Date" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label class="control-label">行程總天數</label>
                                <div class="input-group">
                                    <input value="@Model._CTravelDetailForEditViewModel.Count()" class="form-control" readonly />
                                    <span class="input-group-text">天</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-5 ms-3 ">
                        <div id="cover_photo" class="form-group">
                            <img id="photo-0" src="~/images/TravelProductPictures/@Model.TravelPicturePath[0]" />
                            <input type="hidden" asp-for="TravelPictureId" value="@Model.TravelPictureId[0]" />
                            <input type="hidden" asp-for="PictureCount" value="0" id="hiddenPictureCount[0]" />
                            <label class="control-label">行程封面圖</label>
                            <input asp-for="photo" type="file" id="photoUpload[0]">
                        </div>
                        <div class="form-group">
                            <label asp-for="TravelPictureText" class="control-label"></label>
                            <input class="form-control" asp-for="TravelPictureText" value="@Model.TravelPictureText[0]" type="text" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AnotherDepartureDate" class="control-label"></label>
                            <input asp-for="AnotherDepartureDate" class="form-control" />
                            <span asp-validation-for="AnotherDepartureDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MapUrl" class="control-label"></label>
                            <input asp-for="MapUrl" class="form-control" />
                            <span asp-validation-for="MapUrl" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-8 prod_detail">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="50" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventIntroduction" class="control-label"></label>
                        <textarea asp-for="EventIntroduction" class="form-control" cols="50" rows="8"></textarea>
                        <span asp-validation-for="EventIntroduction" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PreparationDescription" class="control-label"></label>
                        <textarea asp-for="PreparationDescription" class="form-control" cols="50" rows="5"></textarea>
                        <span asp-validation-for="PreparationDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @{int DetailCount = 1; }
            @foreach (var detail in Model._CTravelDetailForEditViewModel)
            {
                <div class="row">
                    <div class="col-8 prod_detail">
                        <div class="form-group">
                            <label asp-for="@detail._TravelProductDetail.Day" class="control-label"></label>
                            <input asp-for="@detail._TravelProductDetail.Day" class="form-control"  readonly />
                            <span asp-validation-for="@detail._TravelProductDetail.Day" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@detail._TravelProductDetail.Date" class="control-label">日期</label>
                            <input asp-for="@detail._TravelProductDetail.Date" class="form-control" />
                            <span asp-validation-for="@detail._TravelProductDetail.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@detail._TravelProductDetail.DailyDetailText" class="control-label">行程概述</label>
                            <textarea asp-for="@detail._TravelProductDetail.DailyDetailText" class="form-control" cols="50" rows="8"></textarea>
                            <span asp-validation-for="@detail._TravelProductDetail.DailyDetailText" class="text-danger"></span>
                        </div>
                        @if (detail.HotelName != null)
                        {
                            <div class="form-group">
                                <label asp-for="@detail.HotelName" class="control-label">住宿地點</label>
                                <input asp-for="@detail.HotelName" class="form-control" />
                                <span asp-validation-for="@detail.HotelName" class="text-danger"></span>
                            </div>
                        }
                        @{int TPnum = 0;}
                        <div class="d-flex">
                            @foreach (string trans in detail.TrasportationName)
                            {
                                TPnum++;
                                <div class="form-group me-2">
                                    <label asp-for="@trans" class="control-label">交通 @TPnum</label>
                                    <input asp-for="@trans" class="form-control" size="3"/>
                                    <span asp-validation-for="@trans" class="text-danger"></span>
                                </div>
                            }
                        </div>
                        @{int VNnum = 0;}
                        <div class="d-flex">
                            @foreach (string vn in detail.ViewName)
                            {
                                VNnum++;
                                <div class="form-group me-2">
                                    <label asp-for="@vn" class="control-label">景點 @VNnum</label>
                                    <input asp-for="@vn" class="form-control" size="8"/>
                                    <span asp-validation-for="@vn" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                DetailCount++;
            }
            <div class="row">
                <div class="col-8 prod_detail">
                    <label class="control-label">行程圖片集</label>
                    <div id="pic_group" class="col-10">
                        @for (int i = 1; i < Model.TravelPictureId.Count; i++)
                        {
                            <div id="photo_group" class="form-group">
                                <img id="photo-@i" style="width:100%" src="~/images/TravelProductPictures/@Model.TravelPicturePath[i]" />
                                <input type="hidden" asp-for="TravelPictureId" value="@Model.TravelPictureId[i]" />
                                <input type="hidden" asp-for="PictureCount" value="0" id="hiddenPictureCount[@i]" />
                                <label class="control-label">更改行程照片</label>
                                <input asp-for="photo" type="file" id="photoUpload[@i]">
                            </div>
                            <div class="form-group">
                                <label class="control-label"></label>
                                <input class="form-control" asp-for="TravelPictureText" value="@Model.TravelPictureText[i]" id="TravelPictureText_@i" type="text" />
                                <span class="text-danger"></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="createNewPic" class="row">

            </div>

            <div class="form-group">
                <input id="editProductBtn" type="submit" value="修改並儲存" class="btn btn-primary mt-4" style="display:none"/>
            </div>
        </form>

        <div class="btnDetail" id="btnControl">
            <button class="btn btn-secondary me-3" id="minus" onclick="minus()" type="button">減少圖片上傳欄位</button>
            <button class="btn btn-secondary" id="plus" onclick="plus()" type="button">新增圖片上傳欄位</button>
        </div>


    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="//cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<script>
    //DEMO用
    $('#demo').on("click", function () {
        $('#TravelPictureText_1').val("在整個迷人的鄉村享受這個為期 3 天的行程，體驗沙巴的傳統和文化");
        $('#TravelPictureText_2').val("沙巴的梯田被美國《旅遊與休閒》雜誌的讀者評選為亞洲和世界七大最美麗、最令人印象深刻的稻田之一");
        $('#TravelPictureText_3').val("與大多數土著社區一樣，可以徒步遊覽沙巴的村莊");
        $('#TravelPictureText_4').val("3 天探索美麗迷人的沙巴小鎮，體驗其獨特的文化");
        $('#NewTravelPictureText1').val("沙巴小鎮溪流");
        $('#NewTravelPictureText2').val("沙巴小鎮概覽");
    })

    CKEDITOR.replace('Description');
    CKEDITOR.replace('EventIntroduction');
    CKEDITOR.replace('PreparationDescription');
    
    for (var i = 0; i < @Model.TravelPictureId.Count; i++) {
        let photoUpload = document.getElementById(`photoUpload[${i}]`)
        let hiddenPictureCount = document.getElementById(`hiddenPictureCount[${i}]`);
        photoUpload.addEventListener("click", () => {
            hiddenPictureCount.value = 1;
    })
    }

    let num = 0;
    function correct_uploadedPicture() {
        let ActivedPhotoUpload = document.getElementById(`ActivedPhotoUpload[${num}]`)
        let ActivedHiddenPictureCount = document.getElementById(`ActivedHiddenPictureCount[${num}]`);
        ActivedPhotoUpload.addEventListener("click", () => {
            ActivedHiddenPictureCount.value = 1;
        })
    }

    //新增圖片欄位
    const abc = document.querySelector("#createNewPic");
    function plus() {
        num++;
        let p = document.createElement("div")
        p.setAttribute("class", "col-8 prod_detail");
        p.setAttribute("id", "newPic");
        let test = "";
        let pic_div =
        `<div class="col-10">`+
        `<div id="photo_group" class="form-group">` +
        `<img id="preview${num}" src="@Url.Content("~/images/ProductDefaultImage.jpg")" style="width:100%"/>` +
        `<input type="hidden" name="TravelPictureId" value="-1" />` +
        `<input type="hidden" name="PictureCount111" value="0" id="ActivedHiddenPictureCount[${num}]" />` +
        `<label class="control-label">更改行程照片</label>` +
        `<input name="CreateNewPhoto" type="file" id="ActivedPhotoUpload[${num}]">` +
        `</div>` +
        `<div class="form-group">` +
        ` <label class="control-label"></label>` +
        `<input class="form-control" name="CreateNewTravelPictureText" value=" " placehold="請輸入圖片描述" type="text" id="NewTravelPictureText${num}"/>` +
        `<span class="text-danger"></span>` +
        `</div>` +
        `</div>`;
        if (num < 11) {
            test = `<p>新增第${num}張圖</p>`

            p.innerHTML = test;
            p.innerHTML += pic_div;
            abc.appendChild(p)
            correct_uploadedPicture();

        } else
            num = 10;

    }
    function minus() {
        num--;
        if (num >= 0) {
            $('#createNewPic').children().last().remove();
        } else
            num = 0;
        }

    //動態顯示修改的圖片
    function showEditPic(id,name11) {
        $(`#${id}`).on("change", `input[name='${name11}']`, function (e) {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url            
            $(this).siblings("img").attr('src', objectURL);
        })
    }
    showEditPic("pic_group","photo") //(資料庫既有)
    showEditPic("cover_photo", "photo") //(封面圖)
    showEditPic("createNewPic", "CreateNewPhoto") //(新增)

        //回到最上層
        $("#jq-goTop").click(function (e) {
            e.preventDefault();
            $("html,body").animate(
                {
                    scrollTop: 0,
                },
                600
            );
        });

        //連動修改行程button
        function editBtn() {
            const editBtn = $('#editProductBtn');
            editBtn.click();
        }
</script>

}

